@import "tailwindcss";
.our-work{
    overflow: hidden;
}
.our-work:hover .a1{
    transform: translateY(0px);
    transition: all 0.5s ease;
}
.our-work:hover .a2{
    transform: translateY(50px);
    transition: all 0.5s ease;
}
.a1{
    top: 0;
    position: absolute;
    z-index: 10;
    transform: translateY(-40px);
    /* color: rgb(182, 182, 182); */
}
.company:hover .a1{
    transform: translateY(0px);
    transition: all 0.5s ease;
}
.company:hover .a2{
    transform: translateY(50px);
    transition: all 0.5s ease;
}
.services:hover .a1{
    transform: translateY(0px);
    transition: all 0.5s ease;
}
.services:hover .a2{
    transform: translateY(50px);
    transition: all 0.5s ease;
}

